{% extends "index.html" %}

{% block content %}

                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Numpy</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item active">Numpy</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">
</p>

<h1>Describe</h1>
{{data | safe}}

                            </div>

                            </div>
</div>

{% endblock %}
