{% extends "index.html" %}

{% block content %}

                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Analiza danych</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Analiza danych</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">

<p><b>Analiza co chce powiedziec </b></p>
<p>Zrobić analizę ciekawych dla it danych, kt&oacute;ra zawierać bedzie opisane w lekcjach o pandas i wykresach kroki z dodatkiem użycia numpy w analizie</p>



                            </div>
                        </div>
                        <div style="height: 100vh"></div>
                        <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
                    </div>

{% endblock %}
