<div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            {% for c in data4 %}
                                            <th>{{ c }}</th>
                                            {% endfor %}

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            {% for c in data4 %}
                                            <th>{{ c }}</th>
                                            {% endfor %}

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for row in data3 %}
                                        <tr>
                                            {% for r in row %}
                                            <td>{{ r }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>