{% extends "index.html" %}

{% block content %}

                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Pandas</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Pandas</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">

<h3><b>Pandas co chce powiedziec</b></h3>
<p>import pandas as pd</p>
<p>jak czytać dane z excela z csv z html i z api</p>
<p>head &ndash; pokazywanie danych, tail</p>
<p>łaczenie baz danych w 1 df po id , itp., join</p>
<p>rename</p>
<p>shape</p>
describe<br />koncepcja analityczna
<p>tw&oacute;rzenie nowego df &ndash; kt&oacute;ry zawiera tyle iteresujace nas kolumny</p>
<p>wyświetlanie, czyczenie null</p>
<p>sortowanie, grupowanie wyświetlanie koncepcji analitycznej, r&oacute;wnież w wybranych zakresach</p>
<p>zastosowanie unique, value_counts, &lt; &amp; ==
</p>



                            </div>
                        </div>


                    </div>

{% endblock %}