{% extends "index.html" %}

{% block content %}

                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Pytest</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Pytest</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">

<p><b>Pytest co chce powiedziec </b></p>
<p>Powtorzyć jak to działa</p>
<p>Co można testować w analzie danych, czy dane się dobrze pobrały, czy dane się wyświetlają,</p>
<p>dopisać może jakąś funkcje</p>
<p>mockowanie, output </p>



                            </div>
                        </div>
                        <div style="height: 100vh"></div>
                        <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
                    </div>

{% endblock %}
