{% extends "index.html" %}

{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Upload</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Upload ipynb as analiza2.html</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <p class="mb-0">


            <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>


            </body>
            </html>

        </div>
    </div>
</div>

{% endblock %}
