{% extends "index.html" %}

{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Column 2</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Column 2</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <p class="mb-0">
            </p>

            <form action="/esc1" method="post">
                {% for field in form %}
                {% if field.type == "BooleanField" %}
                {{ field }} {{ field.label }}
                {% else %}
                {{ field.label }}
                {{ field }}
                {% endif %}
                {% endfor %}
            </form>


        </div>
        <img src="/desc3/{{ typ }}"/>

    </div>
</div>

{% endblock %}
