{% extends "index.html" %}

{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Przelicz walutę</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Przelicz walute</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <p class="mb-0">


                {% include 'output2.html' %}
            <p></p>

        </div>

    </div>
</div>


{% endblock %}
