{% extends "index.html" %}

{% block content %}

                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Wykresy</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Wykresy</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">

<p><b>Wykresy co chce powiedziec</b></p>
<p><span>Jak prosto robić wykresy danych z interesujących kolumn w odniesieniu do koncepcji analitycznych </span></p>



                            </div>
                        </div>
                        <div style="height: 100vh"></div>
                        <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
                    </div>

{% endblock %}
